
// Width of container
$max-width: 960px;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
$primary-font-family: "Lato";

// Colors
$primary-color: #01BEBE;
$secondary-color: #0084DD;
$grey-color: #CCCFDA;
$text-color: #475166;
$white-color: #FEFEFE;
